/**{
    margin: 0px;
    padding: 0px;
}*/
body{

    padding-top: 3.5em;
    /* background-image: url("../assets/backgrnd.jpg"); */
    background-image: url("../assets/backgrnd.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
}
h5{
    font-size: xx-large;
    font-family: "Cantarell",cursive;
    color: crimson;
}

.emphasize{
    font-weight: bold;
    font-size: large;
    color: red;
    text-shadow: 2px;
    font-family: tahoma;
    
}
